body {
  background-color: #F1F1F1;
}
.row {
  margin: 0;
}
.col-md-6 {
  padding: 0;
  margin: 0;
}
.form-control {
  border-radius: 0;
  margin-bottom: 20px;
}
.img-thumbnail {
  margin-bottom: 20px;
}
.btn {
  border-radius: 0;
}

/* layout */
.container-fluid {
  padding: 0;
  background-color: #ffffff;
}
  /* navbar */
.navbar-brand {
  margin-right: 0;
  text-align: center;
}

/* MainView */

  /* SearchBar */
.search-container {
  padding-top: 65px;
  padding-bottom: 65px;
  background-color: #f1f1f1;
}

/* body-container */

  /* Map */
.map-container {
  height: 630px;
  background-color: #383738;
}

/* information view */
.info-container {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f1f1f1;
}

/* footer */
footer {
  width: 100%;
  text-align: center;
  background-color: #ffffff;
}
