body {
  background-color: #F1F1F1;
}
.row {
  margin: 0;
}

/* layout */
.container-fluid {
  padding: 0;
  background-color: #ffffff;
}
  /* navbar */
.navbar-brand {
  margin-right: 0;
  text-align: center;
}

/* MainView */

  /* SearchBar */
.search-container {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #f1f1f1;
}

  /* Map */
.map-container {
  height: 630px;
  background-color: #383738;
}

/* information view */
.name {
  margin-top: 20px;
  margin-bottom: 5px;
}

.picture {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 300px;
  width: 405px;
}

.address {
  margin-top: 5px;
  margin-bottom: 5px;
}

.phone {
  margin-top: 5px;
  margin-bottom: 5px;
}

.website {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* footer */
footer {
  width: 100%;
  text-align: center;
  background-color: #ffffff;
}
